codes/02_action_nodes_edit.json
{
  "name": "02_action_nodes_edit",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a8c4706f-154c-49a2-9ffd-3fb0c1e72880",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos/2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "a597a0dc-fbaf-4df3-9475-f6463b3296b9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16dde0f5-2006-48c4-a35d-6cb92fc0c256",
              "name": "유저아이디",
              "value": "={{ $json.userId }}",
              "type": "number"
            },
            {
              "id": "e8cbe882-18f3-4cda-a359-f5e65a625a40",
              "name": "타이틀",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "7fbaca6d-7ed2-4f9e-a402-796a4c613cf5",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "78f0e612-5170-42e1-9b48-4fcfe7bc95e4",
  "meta": {
    "instanceId": "53313f7c3d79681499a7d077a3b73337aafb7601b600e29f82111334787e45a9"
  },
  "id": "LuiyH0epjBTvzPzp",
  "tags": []
}